<h1> Create a new Tweet </h1>

<% if @tweet.errors.any? %>
  <p> These errors prevented tweet from being created: 
    <ul>
      <% @tweet.errors.full_messages.each do |msg| %>
        <li> <%= msg %> </li>
      <% end %>
    </ul>
  </p>
<% end %>

<p>
<%= form_with model: @tweet do |form| %>
  User:
  <%= select(:tweet, :user_id, @user_options) %><br><br>
  <%= form.label :content, "Content:" %><br>
  <%= form.text_area :content %><br><br>
  <%= form.submit "Tweet!" %>
<% end %>
</p>

<%= link_to "Explore the Users", users_path %><br>
<%= link_to "Check out today's popular tweets", tweets_path %><br>
<%= link_to "Create a new tweet", new_tweet_path %><br>